<app-error-modal *ngIf="getHotelCorrecto() === false"  [error]="'Error en el código de hotel seleccionado. Póngase en contacto con su administrador.'" ></app-error-modal>
<div *ngIf="getHotelCorrecto() == true" class="container-sm">
    <div class="text-center" id="logo">    
            <img [src]="getLogo()" alt="Ups!" class="d-inline-block align-text-top"> 
    </div>
    <app-platos-search [hotel]="hotel" (buscarEvent)="showPlatos($event)" (filtrosEvent)="showAlergenos($event)" (tabEvent)="cambioTab()"></app-platos-search>
    <app-error-modal *ngIf="mensajeError" [error]="mensajeError"></app-error-modal>
    <div *ngIf="!platosArray && !mensajeError" class="d-flex justify-content-center" id="spinner">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div *ngIf="platosFiltradosArray.length == 0">
      <p class="text-center">No se han encontrado resultados.</p>
    </div>
    <app-platoslist [platosArray]="platosFiltradosArray"></app-platoslist>
</div>