// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$color-etiquetas: #3A1B0B;
$primary: $color-etiquetas;
// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/accordion";

/*$color-etiquetas: #FF6900;
$base-color: var(--color-etiquetas);
$primary: $color-etiquetas;*/

body {
    background-color: #fcfeff;
}

