
@import "../node_modules/ng-multiselect-dropdown/themes/ng-multiselect-dropdown.theme.scss";

:root {
    --color-etiquetas: #FF6900;
}

$base-color: var(--color-etiquetas);



body {
    background-color: #fcfeff;
}